@page
@model Project_PRN221.Pages.User.ChangePasswordModel
@{
}

<!-- SIGN UP -->
<section class="section-primary sign-up pt-112 pb-90">
	<div class="container">
		<h4>Thay đổi mật khẩu</h4>
		<form method="post">
            <div class="form-holder">
                <label>Mật khẩu hiện tại</label>
				<input type="password" asp-for="password" class="form-control" />
                <span class="msg-error" asp-validation-for="password"></span>
            </div>
			<div class="form-holder">
				<label>Mật khẩu mới</label>
				<input type="password" asp-for="newpassword" class="form-control" />
				<span class="msg-error" asp-validation-for="newpassword"></span>
			</div>
			<div class="form-holder">
				<label>Nhập lại mật khẩu mới</label>
				<input type="password" asp-for="repassword" class="form-control" />
				<span class="msg-error" asp-validation-for="repassword"></span>
			</div>
			<input class="au-btn round has-bg" type="submit" name="submit" value="Xác nhận" />
			<a href="/index" class="return-link">Trở về trang chủ</a>
		</form>
		@if (ViewBag.Error != null)
		{
			<p>@ViewBag.Error</p>
		}
	</div>
</section>