@page
@model Project_PRN221.Pages.User.ForgetPasswordModel
@{
}
<section class="page-breadcrumb">
	<div class="container">
		<div class="row justify-content-between align-content-center">
			<div class="col-md-auto">
				<h3>Create an account</h3>
			</div>
			<div class="col-md-auto">
				<ul class="au-breadcrumb">
					<li>
						<a href="/index">Trang chủ</a>
					</li>
					<li>
						<a href="#">Quên mật khẩu</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- SIGN UP -->
<section class="section-primary sign-up pt-112 pb-90">
	<div class="container">
		<h4>Quên mật khẩu</h4>
		<form method="post">
            <div class="form-holder">
                <label>User Name</label>
				<input type="text" name="username" class="form-control" />
				<span class="msg-error" asp-validation-for="username"></span>
            </div>
            <div class="form-holder">
                <label>Email</label>
				<input type="text" name="email" class="form-control" />
                <span class="msg-error" asp-validation-for="email"></span>
            </div>
			<input class="au-btn round has-bg" type="submit" name="submit" value="Xác nhận" />
			<a href="/User/Login" class="return-link">Trở về đăng nhập</a>
		</form>
		@if (ViewBag.Error != null)
		{
			<p>@ViewBag.Error</p>
		}
	</div>
</section>