@page
@model Project_PRN221.Pages.Management.IndexModel

@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<section class="section-primary pt-150 pb-113 shop-list">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="sorting">
					<div class="woocommerce-result-count font-weight-bold" style="font-family: Merriweather;font-size: 40px;">
						Thống kê văn bản
					</div>
					<table>
						<tr>
							<td>
								<span>
									Số lượng văn bản: @Model.DocNumber
								</span>
							</td>
							<td>
								<span>
									Số lượng cơ sở: @Model.AgenceNumber
								</span>
							</td>

							<td>
								<span>Tuần</span>
							</td>
						</tr>
						<tr>
							<td>
								<span>
									Số lượt gửi: @Model.SendNumber
								</span>
							</td>
							<td>
							</td>
							<td>
								<div class="widget_search">
									<input class="form-control" type="week" asp-for="weekTime" onchange="sendGetRequest(this.value)">
								</div>
							</td>

						</tr>
					</table>
					<div id="chartContainer" style="height: 400px; width: 60%;margin:auto;"></div>
				</div>
			</div>
		</div>
	</div>
</section>
@{
	var days = new[] { "Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy" };
}
<script type="text/javascript">
	window.onload = function () {

		var chart = new CanvasJS.Chart("chartContainer", {
			title: {
				text: "Biểu đồ số lượt gửi văn bản trong tuần"
			},
			axisX: {
				labelFormatter: function (e) {
					var week = ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"];
					return week[e.value];
				}
			},
			data: [{
				type: "line",
				toolTipContent: "{label}: {y} lượt",
				dataPoints: @Html.Raw(Json.Serialize(Model.weekSend.Select((value, index) => new { label = days[index], x = index, y = value })))
			}]
		});
		chart.render();
	}


</script>
<script>
	function sendGetRequest(value) {
		window.location.href = '?weekTime=' + value;
	}
</script>