@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	//var special = Model.ListProducts.Where(p => p.CategoryId == 2);
	//var standard = Model.ListProducts.Where(p => p.CategoryId == 1);
}
<!-- SLIDE SHOW -->
<div class="rev_slider_wrapper">
	<div id="rev_slider_12" class="rev_slider" data-version="5.4.5">
		<ul>
			<li data-transition="">
				<img src="~/images/slideshow-31.jpg" class="rev-slidebg" alt="" />

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="left"
					 data-y='["bottom", "bottom", "bottom", "bottom", "middle"]'
					 data-voffset="['0', '50', '50', '50', '0']"
					 data-hoffset="['135', '105', '105', '75', '40']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/slideshow-30.png" alt=""
						 data-ww="['739', '439', '400', '350', '350']"
						 data-hh="['770', '457.4', '416.7', '364.8', '364.8']" />
				</div>

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-50', '-50', '-50', '-50', '-120']"
					 data-hoffset="['273', '133', '133', '113', '183']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/pigga.png" alt=""
						 data-ww="['437', '350', '318', '278.9', '278.9']"
						 data-hh="['215', '172.19', '156.4', '137.2', '137.2']" />
				</div>

				<div class="tp-caption tp-resizeme caption-1"
					 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['84','54', '54', '40', '0']"
					 data-hoffset="['280','140', '135', '115', '185']"
					 data-fontsize="['25', '20', '18', '16', '25']"
					 data-width="['auto', 'auto', 'auto', 'auto', '300']"
					 data-whitespace="['nowrap', 'nowrap', 'nowrap', 'nowrap', 'normal']"
					 data-textAlign="center"
					 data-color="#999"
					 data-lineheight="inherit">
					PIZZA HIGH GRADE CARD
				</div>

				<a href="/products/menu" class="tp-caption tp-resizeme caption-btn bd-fff au-btn round au-btn--hover"
				   data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
				   data-x="center"
				   data-y="middle"
				   data-voffset="['172', '152', '152', '122', '122']"
				   data-hoffset="['258','118', '118', '118', '178']"
				   data-fontsize="['15', '18', '18',  '18', '25']"
				   data-lineheight="inherit"
				   data-width="['142', '155', '155', '155', '232']"
				   data-height="['42', '43', '43', '43', '65']"
				   data-color="#fff">
					Shop now
				</a>

				<div class="tp-caption tp-resizeme caption-pointer"
					 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="left"
					 data-y="middle"
					 data-fontsize="['25', '25', '25', '25', '22']"
					 data-hoffset="['80','40', '30', '20', '20']"
					 data-lineheight="inherit"
					 data-color="#fff"
					 data-visibility='["on", "on", "on", "on", "off"]'
					 data-actions='[{
								"event": "click",
								"action": "jumptoslide",
								"slide": "previous",
								"delay": "0"
							}]'>
					<span class="lnr lnr-arrow-left"></span>
				</div>

				<div class="tp-caption tp-resizeme caption-pointer"
					 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-fontsize="['25', '25', '25', '25', '22']"
					 data-hoffset="['80','40', '30', '20', '20']"
					 data-lineheight="inherit"
					 data-color="#fff"
					 data-visibility='["on", "on", "on", "on", "off"]'
					 data-actions='[{
								"event": "click",
								"action": "jumptoslide",
								"slide": "next",
								"delay": "0"
							}]'>
					<span class="lnr lnr-arrow-right"></span>
				</div>
			</li>

			<li data-transition="">
				<img src="~/images/slideshow-32.jpg" class="rev-slidebg" alt="" />

				<div class="tp-caption tp-resizeme caption-1"
					 data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-174','-69', '-69', '-109', '-109']"
					 data-hoffset="['-300','-260', '-260', '-200', '-100']"
					 data-fontsize="['50', '42', '42', '42', '42']"
					 data-color="#ff3333"
					 data-lineheight="inherit">
					The
				</div>

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-181', '-76', '-76', '-116', '-116']"
					 data-hoffset="['-297', '-257', '-257', '-197', '-97']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/wing.png" alt=""
						 data-ww="['180', '153', '153', '153', '153']"
						 data-hh="['42', '35.7', '35.7', '35.7', '35.7']" />
				</div>

				<div class="tp-caption tp-resizeme caption-2"
					 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-100','-5', '-5', '-45', '-45']"
					 data-hoffset="['-300','-250', '-250', '-190', '-90']"
					 data-fontsize="['66', '56', '56', '56', '56']"
					 data-color="#ff3333"
					 data-lineheight="inherit">
					italian pizza
				</div>

				<div class="tp-caption tp-resizeme caption-3"
					 data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-17','72', '72', '32', '32']"
					 data-hoffset="['-427','-357', '-357', '-297', '-197']"
					 data-fontsize="['23', '19', '19', '19', '25']"
					 data-color="#fff"
					 data-lineheight="inherit">
					roma
				</div>

				<div class="tp-caption tp-resizeme caption-3"
					 data-frames='[{"delay":3500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-17','72', '72', '32', '32']"
					 data-hoffset="['-174','-144', '-144', '-84', '16']"
					 data-fontsize="['23', '19', '19', '19', '25']"
					 data-color="#fff"
					 data-lineheight="inherit">
					italy
				</div>

				<div class="tp-caption tp-resizeme caption-4"
					 data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['-17','72', '72', '32', '32']"
					 data-hoffset="['-300','-250', '-250', '-190', '-90']"
					 data-fontsize="['28', '24', '24', '24', '24']"
					 data-color="#000"
					 data-lineheight="inherit">
					<svg height="62" width="132">
						<polygon points="66,0 132,31 66,62 0,31" style="fill:#fff;" />
					</svg>
					<span>
						1965
					</span>
				</div>

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":3500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="center"
					 data-y="middle"
					 data-voffset="['46', '121', '121', '81', '91']"
					 data-hoffset="['-300', '-250', '-250', '-190', '-90']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/familiar-restaurant.png" alt=""
						 data-ww="['277', '236', '236', '236', '277']"
						 data-hh="['37', '31.5', '31.5', '31.5', '37']" />
				</div>

				<div class="tp-caption tp-resizeme caption-pointer"
					 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="left"
					 data-y="middle"
					 data-fontsize="['25', '25', '25', '25', '22']"
					 data-hoffset="['80','40', '30', '20', '20']"
					 data-lineheight="inherit"
					 data-color="#fff"
					 data-visibility='["on", "on", "on", "on", "off"]'
					 data-actions='[{
								"event": "click",
								"action": "jumptoslide",
								"slide": "previous",
								"delay": "0"
							}]'>
					<span class="lnr lnr-arrow-left"></span>
				</div>

				<div class="tp-caption tp-resizeme caption-pointer"
					 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-fontsize="['25', '25', '25', '25', '22']"
					 data-hoffset="['80','40', '30', '20', '20']"
					 data-lineheight="inherit"
					 data-color="#fff"
					 data-visibility='["on", "on", "on", "on", "off"]'
					 data-actions='[{
								"event": "click",
								"action": "jumptoslide",
								"slide": "next",
								"delay": "0"
							}]'>
					<span class="lnr lnr-arrow-right"></span>
				</div>
			</li>

			<li data-transition="">
				<img src="~/images/slideshow-34.jpg" class="rev-slidebg" alt="" />

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="left"
					 data-y="bottom"
					 data-voffset="['0', '0', '0', '0', '0']"
					 data-hoffset="['-100', '-100', '-100', '-92', '-92']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/slideshow-33.png" alt=""
						 data-ww="['2000', '1400', '1400', '1200', '1000']"
						 data-hh="['854', '597.8', '597.8', '512.4', '427']" />
				</div>

				<div class="tp-caption tp-resizeme caption-1"
					 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-voffset="['-88','-42', '-42', '-92', '-102']"
					 data-hoffset="['456','323', '223', '123', '73']"
					 data-fontsize="['141', '100', '100', '100', '100']"
					 data-color="#ff3333"
					 data-lineheight="inherit">
					hot
				</div>

				<div class="tp-caption tp-resizeme caption-2"
					 data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-voffset="['24','30', '30', '-20', '-30']"
					 data-hoffset="['516','363', '263', '163', '113']"
					 data-fontsize="['161', '114', '114', '114', '114']"
					 data-color="#f7a937"
					 data-lineheight="inherit">
					Pizza
				</div>

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-voffset="['-171', '-105', '-105', '-155', '-165']"
					 data-hoffset="['519', '386', '266', '166', '116']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/exclamation.png" alt=""
						 data-ww="['108', '76', '76', '76', '76']"
						 data-hh="['36', '25.3', '25.3', '25.3', '25.3']" />
				</div>

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":2500,"speed":1500,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-voffset="['-111', '-65', '-65', '-115', '-125']"
					 data-hoffset="['696', '493', '393', '293', '243']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/cloud.png" alt=""
						 data-ww="['250', '177', '177', '177', '177']"
						 data-hh="['192', '135.93', '135.93', '135.93', '135.93']" />
				</div>

				<div class="tp-caption tp-resizeme"
					 data-frames='[{"delay":3500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-voffset="['154', '125', '125', '75', '65']"
					 data-hoffset="['525', '367', '267', '167', '117']"
					 data-width="['auto']"
					 data-height="['auto']"
					 data-type="image">
					<img src="~/images/ladder.png" alt=""
						 data-ww="['382', '270', '270', '270', '270']"
						 data-hh="['132', '93', '93', '93', '93']" />
				</div>

				<div class="tp-caption tp-resizeme caption-pointer"
					 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="left"
					 data-y="middle"
					 data-fontsize="['25', '25', '25', '25', '22']"
					 data-hoffset="['80','40', '30', '20', '20']"
					 data-lineheight="inherit"
					 data-color="#fff"
					 data-visibility='["on", "on", "on", "on", "off"]'
					 data-actions='[{
								"event": "click",
								"action": "jumptoslide",
								"slide": "previous",
								"delay": "0"
							}]'>
					<span class="lnr lnr-arrow-left"></span>
				</div>

				<div class="tp-caption tp-resizeme caption-pointer"
					 data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					 data-x="right"
					 data-y="middle"
					 data-fontsize="['25', '25', '25', '25', '22']"
					 data-hoffset="['80','40', '30', '20', '20']"
					 data-lineheight="inherit"
					 data-color="#fff"
					 data-visibility='["on", "on", "on", "on", "off"]'
					 data-actions='[{
								"event": "click",
								"action": "jumptoslide",
								"slide": "next",
								"delay": "0"
							}]'>
					<span class="lnr lnr-arrow-right"></span>
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- PROMOTION -->
<section class="promotion section-primary pt-150 pb-0">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="promotion-item is-bg mb-md-0">
					<img src="~/images/promotion-1.jpg" alt="" id="promotion-1" />
					<div class="inner top">
						<img src="~/images/quality-assurance.png" alt="" />
						<h2>Vegetables</h2>
						<div class="note">
							<img src="~/images/front-minus.png" alt="" />
							<h4>Pizza</h4>
							<img src="~/images/back-minus.png" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="promotion-item">
					<img src="~/images/promotion-2.jpg" alt="" />
					<div class="inner right">
						<h3>gift voucher</h3>
						<div class="discount-box">
							<div class="text">
								<span>Gift</span>
								<span>Value</span>
							</div>
							<span class="price clearfix">
								<span>$</span>
								120
							</span>
						</div>
					</div>
				</div>
				<div class="promotion-item mb-md-0">
					<img src="~/images/promotion-3.jpg" alt="" />
					<div class="inner left">
						<div class="discount-text">
							<h3>
								<span class="percent">
									10
									<span>%</span>
								</span> Discount
							</h3>
							<p>Give customers today</p>
						</div>
						<a href="#" class="au-btn round au-btn--hover has-bd bd-fff short">Click Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- SPECIAL PIZZA -->
<section class="section-primary pizza">
	<div class="section-header">
		<h2>Special Pizza</h2>
		<span>~ Advanced materials ~</span>
	</div>
	<div class="grid">
	
	</div>
</section>

<!-- BLOCK BANNER -->
<section class="block-banner style-2 set-bg" data-image-src="/images/banner-1.jpg">
	<div class="inner">
		<h2>Flames of seafood</h2>
		<div class="middle">
			<div class="text">
				<div class="first-line">
					<img src="~/images/every-day.png" alt="" />
					<span>buying</span>
				</div>
				<span class="break">donate</span>
			</div>
			<span class="number">1</span>
		</div>
		<div class="date">20/7 - 30/7/2023</div>
	</div>
</section>

<!-- OUR PIZZA -->
<section class="section-primary pizza pb-120">
	<div class="container">
		<div class="section-header">
			<h2>Our pizza</h2>
			<span>~ See what we offer ~</span>
		</div>
	</div>
</section>
